@font-face {
  font-family: 'SF-Pro-Display-800';
  src: url('../fonts/SF-Pro-Display-Bold.otf') format('otf');
}
@font-face {
  font-family: 'SF-Pro-Display-700';
  src: url('../fonts/SF-Pro-Display-Heavy.otf') format('otf');
}
@font-face {
  font-family: 'SF-Pro-Display-200';
  src: url('../fonts/SF-Pro-Display-Ultralight.otf') format('otf');
}
@font-face {
  font-family: 'SF-Pro-Display-400';
  src: url('../fonts/SF-Pro-Display-Regular.otf') format('otf');
}
@font-face {
  font-family: 'SF-Pro-Display-600';
  src: url('../fonts/SF-Pro-Display-Semibold.otf') format('otf');
}
@font-face {
  font-family: 'SF-Pro';
  src: url('../fonts/SF-Pro.ttf') format('ttf');
}

%fontTitle {
  text-align: center;
  margin: 0;
  @include font('SF-Pro', 42px, 46px, 860);
}

%fontBenefit {
  @include font('SF-Pro-Display-400', 12px, 14.32px);
}

%fontRadioTitle {
  @include font('SF-Pro-Display-600', 16px, 19.09px, 600);
}

%fontRadioText {
  @include font('SF-Pro-Display-400', 16px, 19.09px, 400);
  opacity: 0.7;
}

%fontLink {
  @include font('SF-Pro-Display-200', 13px, 18px, 200);
  text-align: center;
  text-decoration: underline;
}

%fontRadioNotification {
  @include font('SF-Pro-Display-700', 13px, 15.23px, 700);
  text-align: center;
}

%fontButtonTitle {
  @include font('SF-Pro', 20px, 24px, 590);
}
