@font-face {
  font-family: 'SF-Pro-Display-800';
  src: url('../fonts/SF-Pro-Display-Bold.otf') format('otf');
}
@font-face {
  font-family: 'SF-Pro-Display-700';
  src: url('../fonts/SF-Pro-Display-Heavy.otf') format('otf');
}
@font-face {
  font-family: 'SF-Pro-Display-200';
  src: url('../fonts/SF-Pro-Display-Ultralight.otf') format('otf');
}
@font-face {
  font-family: 'SF-Pro-Display-400';
  src: url('../fonts/SF-Pro-Display-Regular.otf') format('otf');
}
@font-face {
  font-family: 'SF-Pro-Display-600';
  src: url('../fonts/SF-Pro-Display-Semibold.otf') format('otf');
}
@font-face {
  font-family: 'SF-Pro';
  src: url('../fonts/SF-Pro.ttf') format('ttf');
}
