@mixin font($ff, $fs, $ln, $fw: 400, $fc: $text-light, $lp: normal) {
  font-family: $ff, sans-serif;
  font-size: $fs;
  line-height: $ln;
  font-weight: $fw;
  color: $fc;
  letter-spacing: $lp;
}
@mixin flex($fd: row, $jc: flex-start, $ai: flex-start, $g: 0px) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin scale($scale-factor) {
  // transform: scale(1, $scale-factor);
  transform: scale($scale-factor);
}

@mixin _screenIPhoneSE_8plus {
  @media screen and (max-width: 375px) and (max-height: 667px) {
    @content;
  }
  @media screen and (max-width: 414px) and (max-height: 736px) {
    @content;
  }
}

@mixin _scaleScreenElements {
  @media screen and (width: 414px) and (height: 736px),
    screen and (width: 430px) and (height: 932px) {
    @include scale(1.1);
  }
  @media screen and (width: 375px) and (height: 812px) {
    @include scale(0.961);
  }
}
