body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (orientation: portrait) {
  .banner {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/background.webp');
    background-size: cover;
    background-position: center top;
    padding: calc(48 / 844 * 100vh) 0 calc(34 / 844 * 100vh) 0;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    @include _screenIPhoneSE_8plus {
      background-position: center -32px;
    }
    .banner__shadow {
      background-image: url('../img/shadow.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      height: 100%;
      width: 100%;
    }
  }
}

.content {
  padding: calc(48 / 844 * 100vh) 0 calc(34 / 844 * 100vh) 0;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-rows: calc(56 / 844 * 100vh) 1fr calc(18 / 844 * 100vh);
  background: $background-gradient;

  @include _screenIPhoneSE_8plus {
    padding: calc(21 / 667 * 100vh) 0 calc(4 / 667 * 100vh);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  }

  .content__close {
    padding: calc(16 / 390 * 100vw);
    width: 100%;

    @include _screenIPhoneSE_8plus {
      padding: calc(16 / 375 * 100vw);
    }
  }

  .footer {
    width: 100%;
    @include flex(row, center, center);
    opacity: 0.3;
  }
}

.access {
  padding: 0 calc(24 / 390 * 100vw);
  width: 100%;
  @include flex(column, flex-end, center);
  gap: calc(24 / 844 * 100vh);
  @include _screenIPhoneSE_8plus {
    gap: calc(20 / 844 * 100vh);
    padding: 0 calc(24 / 375 * 100vw);
  }
  .access__title {
    @extend %fontTitle;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .access__benefits {
    width: 100%;
    margin-bottom: calc(10 / 844 * 100vh);
    @include flex(row, center, center);
    gap: calc(6 / 844 * 100vh);
    @include _screenIPhoneSE_8plus {
      gap: calc(4 / 667 * 100vh);
      margin-bottom: calc(12 / 844 * 100vh);
    }
  }
  .access__select {
    width: 100%;
    margin-bottom: calc(34 / 844 * 100vh);
    @include _screenIPhoneSE_8plus {
      margin-bottom: calc(32 / 667 * 100vh);
    }
  }
}

.benefit {
  padding: calc(12 / 844 * 100vh) calc(8 / 390 * 100vw);
  width: 100%;
  height: calc(146 / 844 * 100vh);
  @include flex(column, flex-end, flex-start);
  border-radius: 16px;
  background-size: cover;
  background-position: center top;
  @include _screenIPhoneSE_8plus {
    border-radius: 12px;
    height: calc(139 / 667 * 100vh);
  }
  &:nth-child(1) {
    background-image: url('../img/bg-item-1.svg');
  }
  &:nth-child(2) {
    background-image: url('../img/bg-item-2.svg');
  }
  &:nth-child(3) {
    background-image: url('../img/bg-item-3.webp');
  }
  .benefit__text {
    @extend %fontBenefit;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

.form {
  width: 100%;
  @include flex(column, flex-end, center);
  gap: calc(16 / 844 * 100vh);
  @include _screenIPhoneSE_8plus {
    gap: calc(8 / 667 * 100vh);
  }
  .form__group {
    width: 100%;
    @include flex(column, flex-end, center);
    gap: calc(8 / 844 * 100vh);
    @include _screenIPhoneSE_8plus {
      gap: calc(8 / 667 * 100vh);
    }
  }
  .form__item {
    position: relative;
    width: 100%;
    .form__input {
      display: none;
    }
    .form__label {
      padding: calc(9 / 844 * 100vh) calc(24 / 390 * 100vw);
      min-height: calc(56 / 844 * 100vh);
      width: 100%;
      display: grid;
      grid-template-columns: 66.5% 1fr;
      gap: calc(5 / 390 * 100vw);
      align-items: center;
      background-color: $background-elements;
      border-radius: 100px;
      position: relative;
      @include _screenIPhoneSE_8plus {
        min-height: calc(56 / 667 * 100vh);
        padding: calc(9 / 667 * 100vh) calc(24 / 375 * 100vw);
        gap: calc(5 / 375 * 100vw);
      }
    }
    .form__label_best {
      border-right: 1px solid rgba(1, 179, 255, 0.331);
      border-top: 1px solid rgba(253, 148, 244, 0.272);
    }
    .form__title-wrap {
      width: 100%;
      .form__title {
        width: 100%;
        @extend %fontRadioTitle;
        white-space: nowrap;
      }
      .form__note {
        width: 100%;
        @extend %fontRadioText;
        white-space: nowrap;
      }
    }
    .form__price {
      @extend %fontRadioText;
      white-space: nowrap;
    }
  }
  .form__notification-wrap {
    position: absolute;
    width: calc(119 / 844 * 100vh);
    height: calc(20 / 390 * 100vw);
    top: -10px;
    right: 24px;
    border-radius: 100px;
    @include flex(row, center, center);
    z-index: 3;
    background: $background-elements-gradient-third;
    box-shadow: 0px 1px 6px 0px $color-box-shadow;
    @include _screenIPhoneSE_8plus {
      width: calc(119 / 667 * 100vh);
      height: calc(20 / 375 * 100vw);
    }
  }
  .form__notification {
    max-width: calc(119 / 844 * 100vh - 1.1px * 2);
    width: 100%;
    height: calc(20 / 390 * 100vw - 1.1px * 2);
    @include flex(row, center, center);
    z-index: 5;
    border-radius: 100px;
    background: $background-elements-gradient-second;
    @extend %fontRadioNotification;
    white-space: nowrap;
    @include _screenIPhoneSE_8plus {
      max-width: calc(119 / 667 * 100vh - 1.1px * 2);
      height: calc(20 / 375 * 100vw - 1.1px * 2);
    }
  }
  .form__link {
    width: 100%;
    text-decoration: none;
    padding: calc(16 / 844 * 100vh) calc(24 / 390 * 100vw);
    height: calc(56 / 844 * 100vh);
    width: 100%;
    @include flex(row, center, center);
    border-radius: 100px;
    border: none;
    background-color: $background-elements-third;
    @extend %fontButtonTitle;
    color: $text-dark;
    white-space: nowrap;
    @include _screenIPhoneSE_8plus {
      padding: calc(16 / 667 * 100vh) calc(24 / 375 * 100vw);
      height: calc(56 / 667 * 100vh);
    }
  }
}

.links {
  max-width: calc(281 / 390 * 100vw);
  width: 100%;
  @include flex(row, space-between, center);
  margin-bottom: calc(4 / 844 * 100vh);
  @include _screenIPhoneSE_8plus {
    max-width: calc(281 / 375 * 100vw);
    margin-bottom: calc(8 / 667 * 100vh);
  }
  .links__item {
    width: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    .links__href {
      width: auto;
      @extend %fontLink;
      white-space: nowrap;
    }
  }
}

.form__input:checked + .form__label {
  border-top: none;
  border-right: none;
  background-color: $background-elements-second;
  border: 1px solid $color-element-second;
  + .form__notification-wrap {
    background: $background-elements-third;
    .form__notification {
      background: $background-elements-third;
      color: $text-dark;
    }
  }
}
